# 1. 변수

# 3. 자료형

## 1) 숫자형

### (1) 표현

### (2) 산술/복합 연산

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

출생년도가 1982일 때 홀수, 짝수 판단하기

## 2) ⭐ 문자열

### (1) 표현

### (2) 연산

### (3) 인덱싱/슬라이싱

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

### (4) 문자열 포매팅(f-string)

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

예제. 파일 확장자 찾기

#### 문자열 대체(replace)

#### 대/소문자 변환(lower, upper)

#### 공백 제거(lstrip/rstrip/strip)

#### 카운트 세기(count)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

## 3) 리스트(List)

### (1) 표현

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [1]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [3]:
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
print(data[3][:2])

['dog', 'cat']

In [32]:
orders = ['pasta','pizza']
print(orders[::-1])

['pizza', 'pasta']

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

In [6]:
#3부터 9까지 리스트로 출력

print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

In [13]:
#0에서 10까지 홀수만 출력
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [31]:
#0에서 5까지 거꾸로 출력
print(list(range(0,6,-1)))

a= range(0,6)
b= list(a)
c= b[::-1]
print(c)

print(list(range(5, -1, -1)))


d = b.reverse()
print(b)

print(list(reversed(b)))

[]
[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5]

### (4) 수정/추가/삭제

In [34]:
#0에서 7까지를 리스트로 출력
print(list(range(0,8)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [43]:
num_list= list(range(8))
# 5번째 값을 '오'로 바꾸기
num_list[4] = '오'
print(num_list)

# 2번째부터 3번째까지 데이터를 영어로 바꾸기
num_list[2:4] = ['two','tree']
print(num_list)

# 7번째부터 끝까지의 데이터를 '하하하'로 바꾸기
num_list[6:] = ['하하하']
print(num_list)

# 3번째에서 끝까지의 데이터를 '하하하'로 바꾸기
num_list[3:] =['하하하']

# 처음부터 3번째까지의 데이터를 10으로 바꾸기
num_list[0:2] = [10]
print(num_list)

[0, 1, 2, 3, '오', 5, 6, 7]
[0, 1, 'two', 'tree', '오', 5, 6, 7]
[0, 1, 'two', 'tree', '오', 5, '하하하']
[10, 'two', '하하하']

#### 수정

#### 추가

In [44]:
data =list(range(5))
print(data)

# 데이터 한개 추가[1,2,3,4,5]를 추가)
data.append([1,2,3,4,5])
print(data)

# extend 는 요소요소 추가 해줌
data.extend([1,2,3,4,5])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, [1, 2, 3, 4, 5]]
[0, 1, 2, 3, 4, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

#### 삭제

In [52]:
num_list = list(range(0, 100, 10))

# 3번째 데이터를 삭제(del)
del num_list[3]
print(num_list)
# 7번째 데이터를 삭제(remove 이용)
print(num_list[7])
num_list.remove(80)

print(num_list)
# 뒤에서 부터 3번째 데이터 삭제
del num_list[-3:]
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해주세요(pop)
print(num_list.pop())

[0, 10, 20, 40, 50, 60, 70, 80, 90]
80
[0, 10, 20, 40, 50, 60, 70, 90]
[0, 10, 20, 40, 50]
50

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [53]:
# "ID003" 데이터에 오류가 생겼다.
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data = []
error_data.append(pop_data)
print(error_data)

ID003
['ID001', 'ID002', 'ID004', 'ID005']
['ID003']

## 4) 튜플(Tuple)

In [54]:
# 빈 튜플 만들기
my_tuple = ()
# 튜플 데이터의 타입 출력하기
print(type(my_tuple))

<class 'tuple'>

### (1) 표현

In [56]:
my_tuple = (10)
print(type(my_tuple))

my_tuple = (10,)
print(type(my_tuple))

<class 'int'>
<class 'tuple'>

In [57]:
fruit = ('사과', '당근','오렌지')
fruit[1] = '멜론'
print(fruit)

TypeError: 'tuple' object does not support item assignment

## 5) 딕셔너리(Dictionary)

In [ ]:
mydic = {}
print(type(mydic))

SyntaxError: invalid syntax (2109346444.py, line 2)

### (1) 표현

In [ ]:
# pandas에서 데이터

score_data = {
    '이름': ['홍길동','최수연','김철수'],
    '성적': [68,44,90]}

score_data2 = {
    '홍길동':68,'최수연':44,'김철수':90
    }

print(score_data)
print(score_data2)

{'이름': ['홍길동', '최수연', '김철수'], '성적': [68, 44, 90]}
{'홍길동': 68, '최수연': 44, '김철수': 90}

In [ ]:
# 실무에서 많이 보는 데이터 형태 실시간으로 반영되기에
score_data3 =[
    {'이름':'홍길동', '성적':68},
    {'이름':'최수연', '성적': 44},
    {'이름':'김철수', '성적': 90}
]
print(score_data3)

[{'이름': '홍길동', '성적': 68}, {'이름': '최수연', '성적': 44}, {'이름': '김철수', '성적': 90}]

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [112]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

In [64]:
print(weather_data['city'])
weater_data['city'] = 'Busan'
print(weather_data)

Seoul

NameError: name 'weater_data' is not defined

In [115]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

# 미세먼지(`pm10`)키 추가하기 (값: 34)
weather_data['pm10']= 34
print(weather_data)

# 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기
weather_data['forecast'].extend(['Rainy', 'Rainy'])
# weather_data['forecast'].append(['Rainy', 'Rainy'])
print(weather_data)

{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'pm10': 34}
{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

In [81]:
student = {'name': '홍길동', 'age':28, 'height':187.3, 'score': 88}

In [82]:
#모든 키 조회
print(list(student.keys()))
print(type(student.keys()))

#모든 값 조회
print((student.values()))
print(type(student.items()))

#(키,값)쌍 조회
print(list(student.items()))
print(type(student.items()))

['name', 'age', 'height', 'score']
<class 'dict_keys'>
dict_values(['홍길동', 28, 187.3, 88])
<class 'dict_items'>
[('name', '홍길동'), ('age', 28), ('height', 187.3), ('score', 88)]
<class 'dict_items'>

In [ ]:
student = {'name': '홍길동', 'age':28, 'height':187.3, 'score': 88}
print(student['name'])
print(student.get('name'))

In [ ]:
#weight 키에 대한 값을 추출해 주세요
print(student['weight'])
print(student.get('weight', '없음')) # 이 방식이 error를 막을 수 있다

In [83]:
'weight' in student

False

In [ ]:
'weight' not in student

# stuent 딕셔너리 a 라는 키가 있으면 값을 A라고 바꾸고 아니라면 a라는 값을 ''으로 만들어주세요

In [ ]:
# student_list의 목록중에 student_dict에 없는거는 student_dict에 해당 요소를 key로  추가하고
# 참석 이라는 벨류 추가
student_list = ['홍길동','김예지','김사랑']
student_dict = {'홍길동' : '참석'}

for student in student_list:
    if student not in student_dict:
        student_dict[student] = '참석'

print(student_dict)

{'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}

In [85]:
student = {'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}
student.clear()
print(student)

{}

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

In [86]:
set_list = []
mylist= set(set_list)

print(set_list)
print(type(mylist))

[]
<class 'set'>

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [87]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

{'user3@example.com', 'user1@example.com', 'user2@example.com'}

In [88]:
email_set = set(emails)
print(email_set[0])

TypeError: 'set' object is not subscriptable

### (2) 요소 추가/제거

#### 추가

In [101]:
myset = {1,2,3,4,5}
print(myset)

# 6추가하기
myset.add(6)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [102]:
# 4,7,8
myset.update([4,7,8])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# remove, discard

# 5제거하기
myset.remove(5)
print(myset)

# 9제거 하기
myset.discard(9) #error가 안남
print(myset)

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 4, 6, 7, 8}

#### 제거

### (3) 연산

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [ ]:
set1 = {"A", "C", "D", "E", "G"}
set2 = {"A", "B", "E", "H"}

# 합집합(∪) 또는 합집합 / ∪기 or 합집합)
set_union1 = set1 | set2
print(set_union1)
set_union2 = set1.union(set2)
print(set_union2)

# 교집합(∩기) 그리고 합집합 / ∩기 and 합집합)
set_inter1 = set1 & set2
print(set_inter1)
set_inter2 = set1.intersection(set2)
print(set_inter2)

# 차집합(A기만 다니는 사람, ∩기 - 합집합)
set_diff1 = set1 - set2
print(set_diff1)

# 차집합(B에만 다니는 사람, 합집합 - ∩기)
set_diff2 = set2 - set1
print(set_diff2)

## 7) 불

In [105]:
login =True
if login == True:
    print('환영합니다')

환영합니다

In [ ]:
visitors = ['A','C','6']
if 'H' not  in visitors

# 제어문
## 1.조건문

# 미성년자 판단(만18세 이상)
1

In [118]:
age = int(input())
if age < 18:
    print('미성년자 입니다.')

미성년자 입니다.

In [117]:

age = 59
if age < 18:
    print('미성년자 입니다.')
else:
    ('성인입니다.')

In [116]:
grade = 'C'

if grade == 'A':
    print('perfect')
elif grade == 'B':
    print('Excellent')
elif grade == 'C':
    print('Good')
else:
    print('노력하세요.')

Good

In [ ]:
# 조건식만 적어보기

In [120]:
age =14
height =119

if age >= 10 and height >= 120:
    print('통과')
else:
    print('탑승불가')

탑승불가

In [121]:
price = 80000
level = 'Gold'

if price > 100000 or level == 'Gold':
    print('10%할인 가능')
else:
    print('10%할인 불가')

10%할인 가능

In [ ]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고 없으면 벌금이다. 
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현금 납부이다. 

# 벌금을 납부하게 된다면 "벌금 대상자"을 출력하고 아니면 "통과"를 출력한다
# 그리고 벌금을 납부하게 된다면 "카드납부" 아니면 "현금납부"를 출력한다.
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

if 'license' in wallet:
    print('통과')

    
else:
    print('벌금대상자')
    if 'credit card' in wallet:
        print('카드납부')
    else:
        print('현금납부')

카드납부
벌금대상자