# 1. 변수

# 3. 자료형

## 1) 숫자형

### (1) 표현

### (2) 산술/복합 연산

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

출생년도가 1982일 때 홀수, 짝수 판단하기

## 2) ⭐ 문자열

### (1) 표현

### (2) 연산

### (3) 인덱싱/슬라이싱

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

### (4) 문자열 포매팅(f-string)

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

예제. 파일 확장자 찾기

#### 문자열 대체(replace)

#### 대/소문자 변환(lower, upper)

#### 공백 제거(lstrip/rstrip/strip)

#### 카운트 세기(count)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

## 3) 리스트(List)

### (1) 표현

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [1]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [3]:
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
print(data[3][:2])

['dog', 'cat']

In [32]:
orders = ['pasta','pizza']
print(orders[::-1])

['pizza', 'pasta']

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

In [6]:
#3부터 9까지 리스트로 출력

print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

In [13]:
#0에서 10까지 홀수만 출력
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [31]:
#0에서 5까지 거꾸로 출력
print(list(range(0,6,-1)))

a= range(0,6)
b= list(a)
c= b[::-1]
print(c)

print(list(range(5, -1, -1)))


d = b.reverse()
print(b)

print(list(reversed(b)))

[]
[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5]

### (4) 수정/추가/삭제

In [34]:
#0에서 7까지를 리스트로 출력
print(list(range(0,8)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [43]:
num_list= list(range(8))
# 5번째 값을 '오'로 바꾸기
num_list[4] = '오'
print(num_list)

# 2번째부터 3번째까지 데이터를 영어로 바꾸기
num_list[2:4] = ['two','tree']
print(num_list)

# 7번째부터 끝까지의 데이터를 '하하하'로 바꾸기
num_list[6:] = ['하하하']
print(num_list)

# 3번째에서 끝까지의 데이터를 '하하하'로 바꾸기
num_list[3:] =['하하하']

# 처음부터 3번째까지의 데이터를 10으로 바꾸기
num_list[0:2] = [10]
print(num_list)

[0, 1, 2, 3, '오', 5, 6, 7]
[0, 1, 'two', 'tree', '오', 5, 6, 7]
[0, 1, 'two', 'tree', '오', 5, '하하하']
[10, 'two', '하하하']

#### 수정

#### 추가

In [44]:
data =list(range(5))
print(data)

# 데이터 한개 추가[1,2,3,4,5]를 추가)
data.append([1,2,3,4,5])
print(data)

# extend 는 요소요소 추가 해줌
data.extend([1,2,3,4,5])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, [1, 2, 3, 4, 5]]
[0, 1, 2, 3, 4, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

#### 삭제

In [52]:
num_list = list(range(0, 100, 10))

# 3번째 데이터를 삭제(del)
del num_list[3]
print(num_list)
# 7번째 데이터를 삭제(remove 이용)
print(num_list[7])
num_list.remove(80)

print(num_list)
# 뒤에서 부터 3번째 데이터 삭제
del num_list[-3:]
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해주세요(pop)
print(num_list.pop())

[0, 10, 20, 40, 50, 60, 70, 80, 90]
80
[0, 10, 20, 40, 50, 60, 70, 90]
[0, 10, 20, 40, 50]
50

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

## 4) 튜플(Tuple)

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

### (2) 요소 추가/제거

#### 추가

#### 제거

### (3) 연산

## 7) 불