# 1. 변수

In [2]:
name = "홍길동"
age = 20
item_count = 15

print(name)

홍길동

In [3]:
print(age)

20

In [4]:
print(name, age, item_count)

홍길동 20 15

In [1]:
city = "seoul"
City = "busan"
print(city, City)

seoul busan

In [6]:
1city = 10

SyntaxError: invalid syntax (1197166940.py, line 1)

In [8]:
c-ity = 11

SyntaxError: cannot assign to operator (1619617436.py, line 1)

In [9]:
print = "안녕"
print(print)

TypeError: 'str' object is not callable

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [5]:
# 정수
x = 5
y = -1
z = 0
money = 1_000_000_000_000

print(x, y, z, money)

5 -1 0 1000000000000

In [3]:
print(type(x))

<class 'int'>

In [6]:
# 실수
a = 3.141
b = -2.5
c = 0.00000000000001

print(a, b, c)

3.141 -2.5 1e-14

In [7]:
x = 1e+10
y = 3e-5

print(x, y)

10000000000.0 3e-05

In [8]:
print(type(x))

<class 'float'>

In [9]:
z = 1.0

print(type(z))

<class 'float'>

### (2) 산술/복합 연산

In [10]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [11]:
# 12나누기3을 num3에 담으려고 한다. num3의 type은 무엇인가?
num1 = 12
num2 = 3
num3 = num1 / num2

print(num3)
print(type(num3))

4.0
<class 'float'>

In [14]:
money = 50000
print("내 잔고:", money)

money += 20000
print("내 잔고:", money)

money -= 18000
print("내 잔고:", money)

내 잔고: 50000
내 잔고: 70000
내 잔고: 52000

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
# 100 나누기 30 = 몫 3 나머지 10
# 나머지 10도 페이지로 표현할 수 있다. 
# 나머지가 있는 경우에는 몫에 1을 더해야 한다.

posts = 100
posts_per_page = 30 

pages = posts // posts_per_page 
remainder = posts % posts_per_page
print(pages, remainder)

3 10

출생년도가 1982일 때 홀수, 짝수 판단하기

In [15]:
# 코드로 짝수/홀수 판단하는 방법: 나머지가 1이면 홀수, 0이면 짝수
# 나머지 연산자: %

birth = 1982

result = birth % 2
print(result)

0

## 2) ⭐ 문자열

### (1) 표현

In [18]:
message = "안녕하세요"
print(message)
print(type(message))

안녕하세요
<class 'str'>

In [19]:
# I'm hungry
message = 'I'm hungry'
print(message)

SyntaxError: invalid syntax (3671718703.py, line 2)

In [20]:
message = "I'm hungry"
print(message)

I'm hungry

In [21]:
message = "I\'m hungry"
print(message)

I'm hungry

In [ ]:
# "철수가 말했습니다"
message = '"철수가 말했습니다"'
print(message)

"철수가 말했습니다"

In [23]:
# "철수가 말했습니다"
message = "\"철수가 말했습니다\""
print(message)

"철수가 말했습니다"

In [24]:
review = """짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다."""
print(review)

짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다.

In [26]:
review = "짜장면 너무 맛있어요\n여러분들 꼭 사드십시오\n완전추천합니다."
print(review)

짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다.

### (2) 연산

In [ ]:
# +(결합)
text1 = "안녕"
text2 = "반가워"

print(text1 + text2)

안녕반가워

In [28]:
# *(반복)
text3 = "헬로"

print(text3 * 5)

헬로헬로헬로헬로헬로

In [30]:
# 디버깅
print("=" * 50)
print("반복1이 시작되었습니다.")
print("=" * 50)

==================================================
반복1이 시작되었습니다.
==================================================

In [31]:
name1 = "홍길동"
name2 = "홍길동 "

print(name1)
print(name2)

홍길동
홍길동

In [32]:
print(len(name1))
print(len(name2))

3
4

### (3) 인덱싱/슬라이싱

<img src='https://www.dropbox.com/scl/fi/ixvhz1b0jwtqgz2dp3v9g/_.png?rlkey=2bj00kc0ozcfyh3jiyjd7598z&st=rsppaheg&dl=1' width=70%>

#### 인덱싱

In [35]:
regist_num = "901212-1325221"

print(regist_num[7])
print(regist_num[-7])

1
1

In [36]:
product1 = "1002A"
product2 = "1023938B"
product3 = "22C"

print(product1[-1])
print(product2[-1])
print(product3[-1])

A
B
C

#### 슬라이싱

<img src='https://www.dropbox.com/scl/fi/mfitx382pvcsal0utbuy7/_.png?rlkey=b0tcvbvi8zrc5c14azp8j9995&st=0px6migp&dl=1' width=70%>

In [ ]:
regist_num = "901212-1325221"

print(regist_num[2:6])
print(regist_num[:6])
print(regist_num[7:])

# 음수 표현으로 '1212'추출해보기

1212
901212
1325221

In [46]:
print(regist_num[-12:-8])
print(regist_num[-8:-12])

1212

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [50]:
regist_num = "901212-1325221"

# 1. 성별까지 문자열을 추출한다.
# 2. 뒤의 6자리를 *로 표현한다. 
# 1과 2를 합친다.

left = regist_num[:8]
print(left)
right = "*" * 6
print(right)

result = left + right
print(result)

901212-1
******
901212-1******

### (4) 문자열 포매팅(f-string)

In [53]:
name = "홍길동야"

print(f"{name}님 환영합니다.")

홍길동야님 환영합니다.

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [60]:
address1 = "서울시 관악구       신림동"
address2 = "강남구/동작구/노원구"

print(address1.split())
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

예제. 파일 확장자 찾기

In [61]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

# 확장자 추출
print(file_name1.split("."))

['data', 'txt']

#### 문자열 대체(replace)

In [62]:
email = "jason@company.com"

print(email.replace("jason", "peter"))

peter@company.com

#### 대/소문자 변환(lower, upper)

In [64]:
gender = "mmffMFmf"
print(gender.lower())
print(gender.upper())

mmffmfmf
MMFFMFMF

#### 공백 제거(lstrip/rstrip/strip)

In [66]:
name = "    홍길동    " 

print(name)
print(f"|{name}|")
print(f"|{name.strip()}|")
print(f"|{name.lstrip()}|")
print(f"|{name.rstrip()}|")

    홍길동
|    홍길동    |
|홍길동|
|홍길동    |
|    홍길동|

#### 카운트 세기(count)

In [68]:
gender1 = "mmffMFmf"
gender2 = gender.lower()
print(gender1.count("m"))
print(gender2.count("m"))

3
4

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [70]:
review = """짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""

print(review)

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [71]:
# 짬뽕 개수 추출하기
print(review.count("짬뽕"))

1

## 3) 리스트(List)

### (1) 표현

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

### (4) 수정/추가/삭제

#### 수정

#### 추가

#### 삭제

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

## 4) 튜플(Tuple)

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

### (2) 요소 추가/제거

#### 추가

#### 제거

### (3) 연산

## 7) 불