# 제어문

# 1. 조건문

## 1) 연산자

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

## 2) 활용

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [2]:

tem= 50
if 15 <= tem and tem <= 25:

    print('15도에서 25도 사이입니다.')
else:
    print('15도에서 25도 밖입니다.')

15도에서 25도 밖입니다.

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [4]:
GPA = 1.0
if GPA >= 4.0:
    print(학비 * 1)
elif GPA >= 3.5:
    print(학비* 0.5)
elif GPA >= 3.0:
    print(학비* 0.3)
else:
    print('no장학금')

no장학금

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [5]:
text = '데이터 분석은 흥미롭고 중요한 분야 입니다.'

if text.count('search_word') == 0 :
    print('해당문장에 단어가 없습니다.')

해당문장에 단어가 없습니다.

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [6]:
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

In [7]:
count = 0
while True:
    count += 1
    print(count)
    

    if count > 3:
        break

1
2
3
4

In [8]:
count = 0
while True:
    print(count)
    count += 1

    if count > 3:
        break

0
1
2
3

In [9]:
count = 0
while True:
    count += 1
  
    

    if count > 3:
        break
    print(count)

1
2
3

### (2) break

### (2) continue

In [11]:
count = 0
while count < 3:
    count += 1

    if count % 2 != 0:
        continue

    print(count)

2

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

In [ ]:
num_list = [1, 2, 3]
for num in num_list:
    print(num)

### (2) 관련 주요 함수

# range(n): 0부터 n-1까지 1씩 증가하는 연속적인 빅위를 생성해줌
# range()를 이용해서 나음 출력이 나오도록 코딩해주세요
# 출력 결과
1
2
3
4
5

In [12]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [13]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for i in students:
    print(i)

홍길동
김철수
한유리
정성우

In [16]:
for i, student in enumerate(students):
    print(i, student)

0 홍길동
1 김철수
2 한유리
3 정성우

### (3) break/continue

#### break

In [30]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

#### continue

In [32]:
for i in range(1,11):
    if i == 5 :
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### (4) 활용

# 미션
score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

## 출력 결과
홍길동
최수연
김철수

## 출력 결과
68
44
90

## 출력 결과
홍길동 68점
최수연 44점
김철수 90점

In [19]:
score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

for a,b in score_data.items():
    print(a)

홍길동
최수연
김철수

In [20]:
for a,b in score_data.items():
    print(b)

68
44
90

In [21]:
for a,b in score_data.items():
    print(f'{a} {b}점')

홍길동 68점
최수연 44점
김철수 90점

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [18]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
for a,b in grades.items():
    print(f'{a}님의 성적은 {b}점 입니다')

John님의 성적은 85점 입니다
Emily님의 성적은 92점 입니다
Tom님의 성적은 78점 입니다
Lucy님의 성적은 88점 입니다

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [22]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
for i in temperature_data:
    if i >= 30:
        print(i)

35.2
40.1

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

In [29]:
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
price = 0
for i in orders:
    myvalue = i.values()
    for a,b in dict(myvalue).items():
        price += b
        print(price)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

## 4) List Comprehension

In [33]:
num_list = [i for i in range(1,11)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num_list = [i**2 for i in range(1,11)]
print(num_list)

In [ ]:
# 1~10까지의 짝수 리스트를 만들고 싶다.
num_list = [i for i in range(1,11) if i % 2 == 0]
print(num_list)

In [34]:
# 1~10까지의 짝수 '짝수', 홀수는 '홀수' 리스트를 만들고 싶다.

num_list = ["짝수" if i % 2 == 0 else '홀수' for i in range(1,11)]
print(num_list)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']