# 1. 함수

## 1) 표현

In [11]:
def hello():
    print('hello')
hello()
print(hello())

hello
hello
None

In [9]:
def hello():
    return 'hello'
print(hello())

hello

In [17]:
def calc_add(x:int, y:int) -> int: # 조건을 적어놓음
    '''입력값을 더해주는 함수
    
    '''
    return x + y
calc_add(3,4)

7

## 2) return

## 3) 매개변수

In [19]:
def prt_info(name, age):
    print(f'{name}님의 나이는 {age}세 입니다.')

In [20]:
prt_info('홍길동', 34)

홍길동님의 나이는 34세 입니다.

In [ ]:
def prt_info(name, age, gender='남성'): 디폴드 값
    print(f'{name}님의 나이는 {age}세 {gender}입니다.')

prt_info('홍길동', 37)

홍길동님의 나이는 37세 남성입니다.

In [ ]:
prt_info(name='홍길동', age= 37, gender= '여성') # 설정가능

In [ ]:
# 이름과 나이, 성별을 입력하면 "홍길동님의 나이는 34세 남성입니다"라고 출력해주는 함수
def prt_info(name, age, gender="남성", details=None): # details 는 추가 정보 
    print(f"{name}님의 나이는 {age}세 {gender}입니다.")
    print(f"상세사항: {details}")

SyntaxError: expected ':' (3198225169.py, line 2)

In [26]:
prt_info(34,'홍길동','남성') #

34님의 나이는 홍길동세 남성입니다.
상세사항: None

In [27]:
# *args **kwangs
# 시험성적의 평균을 반환하는 함수
def get_avg_score(*args): # 매개변수를 여러개 넣어도 된다
    # 평균 = 점수의 합/ 과목의 개수
    count = len(args)
    average = sum(args) / count

    return average
get_avg_score(56,49,29,29)

40.75

In [ ]:
# **kwags 
# 학생들의 시험점수를 한눈에 보이게 출력해주는 함수
# 딕셔너리로 저장됨
def prt_score(**kwargs):
    print()

prt_score(name='홍길동', math = 90, science= 90)

In [37]:
# **kwags
# 학생들의 시험점수를 한눈에 보이게 출력해주는 함수
def prt_score(**kwargs):
    for a,b in kwargs.items():
        print(f'{a}: {b}')

prt_score(name='홍길동', math = 90, science= 90)

name: 홍길동
math: 90
science: 90

## 4) lambda 함수

In [ ]:
def calc_add(x,y):
    return x + y
print(calc_add(2,3))

In [ ]:
calc_add = lambda x,y: x+y
print(calc_add(2,6))

In [46]:
# 15만원 이상인 상품들만 딕셔너리로 만들고 싶어요
wishlist = {"노트북": 1200000, "마우스": 33000, "키보드": 110000, "모니터": 290000}
a= []
b= []
new_dict = {}

for key,value in wishlist.items():
    if value >= 150000:
        a.append(key)
        b.append(value)
        
new_dict = dict(list(zip(a,b)))
print(new_dict)

{'노트북': 1200000, '모니터': 290000}

In [84]:
# 15만원 이상인 상품들만 딕셔너리로 만들고 싶어요
wishlist = {"노트북": 1200000, "마우스": 33000, "키보드": 110000, "모니터": 290000}
new_dict = {}

for key,value in wishlist.items():
    if value >= 1500000:
        new_dict[key] = value # 반복되므로 가능함

        

print(new_dict)

{}

In [49]:
my_dict = {key:value for key, value in wishlist.items() if value >= 150000}
print(my_dict)

{'노트북': 1200000, '모니터': 290000}

# 2. 파일 읽기/쓰기

## 1) os

In [ ]:
import os
import numpy as np

from A import B

In [ ]:
import os
#현재위치
print(os.getcwd())

In [51]:
# 파일 만들기
os.mkdir('test')

NameError: name 'os' is not defined

## 2) 파일 생성/읽기/추가

### 생성

In [54]:
import os
#  폴더만들기
os.mkdir('data')

In [ ]:
with open("data/mytext.txt",mode= 'w',encoding='utf-8') as f:
    f.write('hello')
# with 연다 경로 w= 쓰다 인코딩=

In [ ]:
with open("data/mytext.txt",mode= 'w',encoding='utf-8') as f:
    f.write('hi python')
# 덮어쓰기 된다.

### 읽기

In [60]:
with open("data/mytext.txt",mode= 'r',encoding='utf-8') as f:
    contents = f.read()
print(contents)

hellohi python
hello

### 추가

In [57]:
with open("data/mytext.txt",mode= 'a',encoding='utf-8') as f:
    f.write('hi python') # 원래꺼 옆에 붙음

In [58]:
with open("data/mytext.txt",mode= 'a',encoding='utf-8') as f:
    f.write('\nhello') # 원래꺼 아래에 붙음

In [62]:
reviews = [
    "너무너무 맛있어요",
    '배달이 너무 늦네요. 다신 안먹을게요',
    '서비스 주셔서 감사'
]

In [75]:
with open("data/mytext.txt",mode= 'a',encoding='utf-8') as f:

    for review in reviews:
       
        f.write(review + '\n') # 원래꺼 아래에 붙음

# 3. 예외 처리

In [76]:
# 나눗셈 함수 만들기 
def devide(x,y):
    return x/y

In [78]:
result = devide(5,0) # 나누기 0을 하면 에러가 나니까
print(result)

ZeroDivisionError: division by zero

In [79]:
try:
    devide(5,0)
except:
    pass # 아무일도 일어나지 않게 가만히 둬라

In [80]:
try:
    devide(5,0)
except:
    print('잘못된 입력입니다.')

잘못된 입력입니다.

In [ ]:
try:
    devide(5,0)
except Exception as e:
    print(type(e).__name__) # 오류코드를 출력
    print(e) #설명을 출력

ZeroDivisionError
division by zero